body{
    background-color: #EEEEEE;
}



.navbar-nav .active{
    border-bottom: solid beige 0.1rem;
}

.carousel-caption{
    background-color: rgba(200, 200, 200, 0.85);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgb(100, 100, 100);
    padding: 15%;
    border-radius: 50%;
}

.style1, .style2{
    height: fit-content;
    padding-bottom: 2vh;
    padding-top: 2vh;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    margin-top: -4vh;
    text-align: center;
}

.style1 ul, .style1 ol, .style2 ul, .style2 ol{
    list-style-type: none;
}

.style1{
    background-color: rgb(20, 20, 20);
    color: white;
}

.style2{
    background-color: #EEEEEE;
    color: black;
}

.style3{
    background-color: #EEEEEE;
    color: black;
    padding-top: 2vh;
    margin-top: -4vh;
    text-align: center;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
}

.style1 img, .style2 img, .style3 img{
    width: 100%;
    height: 100%;
}

#discordInviteBox{
    display: inline-block;
}

.style1 img, .style2 img, .style3 img{
    display: none;
    object-fit: cover;
}

@media (min-width: 768px) {
    #carouselExampleCaptions {
        max-width: 65%;
    }
    .style1 img, .style2 img, .style3 img{
        display: inline;
    }
}

.btn-lg{
    margin: 3vh;
    width: 30vh;
    height: 10vh;
}

.smol{
    font-size: 1rem;
    margin-top: -1vh;
}