body{
    background-color: #EEEEEE;
}

.navbar-nav .active{
    border-bottom: solid beige 0.1rem;
}

.carousel-caption{
    background-color: rgba(200, 200, 200, 0.85);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgb(100, 100, 100);
    padding: 15%;
    border-radius: 50%;
}

.style1{
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    background-color: rgb(20, 20, 20);
    color: white;
}


@media (min-width: 768px) {
    #carouselExampleCaptions {
        max-width: 65%;
    }
}